body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo_div {
  background: #feff9c;
  padding: 5px;
  width: 200px;
  height: 200px;
  margin-top: 10px;
  line-height: 20px;
  color: #333;
  font-weight: bold;
  font-size: 1;
  position: relative;
  margin: 10px;
}
.todo_div h4 {
  padding: 5px;
}
.grid-container {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction 
   and if we allow the items to wrap 
 * Remember this is the same as:
 * flex-direction: row;
 * flex-wrap: wrap;
 */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: flex-start;

  padding: 0;

  list-style: none;
}

.appTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.txt {
  width: 600px;
  height: 80px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  resize: none;
  background-position: bottom right;
  background-repeat: no-repeat;
}
.btn {
  width: "150px";
  background-color: #ff65a3; /* Green */
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.todo_div .close {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.container {
  display: block;
  position: absolute;
  right: 30px;

  margin-bottom: 22px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  margin-bottom: 20px;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #333;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
